<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811273257474-8vgpnj1jtl30aqino3d09b146q54879g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811273257474-8vgpnj1jtl30aqino3d09b146q54879g</string>
	<key>API_KEY</key>
	<string>AIzaSyDUm45iyMEDYXrij0mRidXZQiUJfdFwKcA</string>
	<key>GCM_SENDER_ID</key>
	<string>811273257474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.registerOpenu</string>
	<key>PROJECT_ID</key>
	<string>nou-demo-host</string>
	<key>STORAGE_BUCKET</key>
	<string>nou-demo-host.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811273257474:ios:6586686368b29f69555d1b</string>
</dict>
</plist>